streamlit
pdfplumber
spacy
sentence-transformers
# This tells Streamlit to get the model directly from GitHub/Releases
https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.0/en_core_web_md-3.7.0.tar.gz
